In [23]:
from sklearn import svm
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('data/trainData/trainData.csv')

data_numpy = df.to_numpy()
X = data_numpy[:, :34]
Y = data_numpy[:, 34]

df

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,0,1,0,1,0,1,0,0,0,0,...,1,1,7,1,85,65,91,98,87,2
1,1,1,1,0,0,0,0,1,0,0,...,1,0,7,1,72,65,95,91,86,2
2,1,1,0,0,0,0,1,1,0,0,...,1,1,6,2,70,90,86,70,72,3
3,1,1,1,1,0,0,0,0,0,0,...,1,0,5,0,77,90,66,96,82,0
4,0,1,0,0,0,0,0,1,0,1,...,0,1,5,3,67,91,97,73,90,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,0,1,0,0,0,0,0,0,1,0,...,1,1,4,3,76,98,88,85,84,1
15996,1,0,1,1,0,0,0,1,0,0,...,0,1,7,0,92,63,90,85,83,0
15997,1,1,0,1,0,0,1,1,0,0,...,1,1,4,2,87,83,76,90,99,2
15998,1,1,0,1,0,0,0,0,0,0,...,1,1,5,0,94,96,61,86,80,2
15999,1,0,1,0,1,0,0,0,0,0,...,1,1,5,3,96,91,90,86,78,0

In [25]:
clf = svm.SVC(decision_function_shape='ovo')
clf.fit(X, Y)

SVC(decision_function_shape='ovo')

In [26]:

correct = 0
wrong = 0
for i, data_sample in enumerate(X[:]):
    if clf.predict(np.array([data_sample])) == Y[i]:
        correct += 1
    else:
        wrong += 1
total_data_samples = i
print("Training Accuracy: ", correct/total_data_samples)

Training Accuracy:  0.71048190511907

In [28]:

df_test = pd.read_csv('data/testData/testData.csv')

data_numpy = df_test.to_numpy()
X_test = data_numpy[:, :34]
Y_test = data_numpy[:, 34]

df_test

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,1,0,1,1,0,0,0,0,0,...,0,1,5,2,85,99,79,98,71,2
1,1,1,0,1,0,0,1,1,0,1,...,0,0,4,3,94,67,84,95,71,2
2,1,1,1,0,0,0,0,0,0,0,...,0,1,6,0,76,74,62,94,74,0
3,0,1,1,0,0,0,0,1,0,0,...,0,1,7,0,98,70,64,87,94,0
4,1,0,0,0,0,1,1,1,0,1,...,0,1,6,3,77,96,99,53,80,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,1,1,0,1,1,1,0,0,0,0,...,0,0,5,0,81,61,64,88,85,2
3996,1,1,1,0,0,1,1,1,1,0,...,0,0,5,2,78,67,94,95,74,0
3997,1,0,0,0,1,1,1,1,0,0,...,0,0,5,2,74,95,67,76,71,3
3998,1,1,1,0,1,0,1,1,0,1,...,0,1,5,2,86,99,98,80,86,0
3999,1,1,1,1,1,0,0,1,0,0,...,0,1,7,3,77,74,93,95,96,0

In [29]:



correct = 0
wrong = 0
for i, data_sample in enumerate(X_test[:]):
    if clf.predict(np.array([data_sample])) == Y_test[i]:
        correct += 1
    else:
        wrong += 1
total_test_samples = i
print("Test Accuracy: ", correct/total_test_samples)
print("Total training/test samples: ", total_data_samples, total_test_samples)

Test Accuracy:  0.7024256064016005
Total training/test samples:  15999 3999

In [ ]:
# Training Accuracy:  0.7243027003000333
# Test Accuracy:  0.7105701900633544
# Total training/test samples:  8999 2999